


//coleres
$primary: #518194;
$detalles: #287028;

$dark-grey: #115571;
$light-grey: #E1E1E1;

$white: #fff;
$google-blue: #4285f4;
$button-active-blue: #1669f2;

$titlleFont: arial, helvetica, sans-serif;
